body{
    padding: 0;
    margin: 0;
    font-family: roboto;
    display: flex;
    flex-direction: column;
}

.hero,
.header,
.footer{
    background-color: #1f2937;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
}

.hero-text{
    font-size: 18px;
}

.logo{
    font-size: 24px;
    font-weight: 600;
}

.hero-title,
.logo{
    color: #f9faf8;
}

a,
.hero-text{
    color: #e5e7eb;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.sign-up,
button{
    background-color: #3882f6;
}

button{
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 24px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 420px;
    padding: 16px 200px;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 140px;
}

.left-side{
    max-width: 420px;
}

.hero-image{
    width: 450px;
    height: 220px;
    background-color: gray;
}
.hero button{
    margin-top: 8px;
}

.info-title{
    font-size:36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 50px;
}

.item img{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 4px solid #3882f6;
}

.item-text{
    width: 150px;
    text-align: center;
    margin-top: 5px;
    color: rgb(87, 87, 87);
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 140px;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px;
}
.quote-author{
    font-size: 24px;
    font-weight: 500;
    padding-left: 450px;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    max-width: 650px;
}

.sign-up-title{
    font-size: 26px;
    font-weight: 500;
}

.sign-up button{
    border: 2px solid  #f9faf8;
}

.sign-up{
    color: #f9faf8;
    width: 700px;
    align-self: center;
    margin: 80px;
    padding: 50px 160px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    font-size: 14px;
    color: #e5e7eb;
    text-align: center;
    padding: 40px;
}